<!--The content below is only a placeholder and can be replaced.-->

  <div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading"><b>Add Revenue Group</b></h2>
      <div class="form-group">
        <label for="exampleInputTitle">Revenue Group Title</label>
        <input type="title" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" placeholder="Fashion - 15%">
      </div>
      <div class="form-group row">
        <label for="dropdown" class="col-sm-1 col-form-label">If</label>
        <div class="form-group">
            <select id="inputState" class="form-control">
              <option selected>ALL</option>
              <option>Example 1</option>
              <option>Example 2</option>
            </select>
          </div>
        <label for="input" class="col-sm-4 col-form-label">Of the below conditions are met</label>
      </div>
      <div class="container">
        <div class="form-row">
          <div class="form-group col-md-2">
            <select id="inputState" class="form-control">
              <option selected>aff_sub</option>
              <option>Example 1</option>
              <option>Example 2</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select id="inputState" class="form-control">
              <option selected>is</option>
              <option>Example 1</option>
              <option>Example 2</option>
            </select>
          </div>
          <div class="form-group col-md-7">
            <input type="text" class="form-control" id="inputParameter" placeholder="insert parameter">
          </div>
        </div>
      </div>
          <div class="form-group1 row">
              <label for="inputRevenue" class="col-sm-2 col-form-label">then Revenue is</label>
              <div class="col-sm-2 input">
                <input type="revenue" class="form-control percent" id="inputRevenue" placeholder="%">
              </div>
            </div>
            <div class="button">
                <div class="form-row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-warning">confirm</button>
                    </div>
                    <div class="form-group col-md-1">
                        <button type="submit" class="btn btn-secondary">cancel</button>
                    </div>
                  </div>
            </div>
          </form>
</div>

<div class="wrapper">
 <form class="form-signin">
      <h2 class="form-signin-heading"><b>Rule 1</b></h2>
      <div class="form-row">
          <div class="form-group col-md-2">
            <select id="inputState" class="form-control">
              <option selected>aff_sub</option>
              <option>Example 1</option>
              <option>Example 2</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <select id="inputState" class="form-control">
              <option selected>is</option>
              <option>Example 1</option>
              <option>Example 2</option>
            </select>
          </div>
          <div class="form-group col-md-7">
            <input type="text" class="form-control" id="inputParameter" placeholder="insert parameter">
            <input type="text" class="form-control" id="inputParameter" placeholder="insert parameter">
          </div>
        </div>
        <h2 class="form-signin-heading"><b>Rule 2</b></h2>
        <div class="form-row">
            <div class="form-group col-md-2">
              <select id="inputState" class="form-control">
                <option selected>aff_sub</option>
                <option>Example 1</option>
                <option>Example 2</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <select id="inputState" class="form-control">
                <option selected>is</option>
                <option>Example 1</option>
                <option>Example 2</option>
              </select>
            </div>
            <div class="form-group col-md-7">
              <input type="text" class="form-control" id="inputParameter" placeholder="insert parameter">
            </div>
          </div>
 </form>
</div>